<footer class="site-footer">
  <div class="container">
    <div class="site-footer__grid">
      <div>
        <img src="/assets/icons/logo-mark.svg" alt="" width="40" style="margin-bottom:16px" />
        <p style="max-width:32ch; color:#a8d3c4; font-size:0.92rem;">Hüser Bruckmaier Wastl<br>Rechtsanwälte · Notare · Fachanwälte<br>Gesellschaft bürgerlichen Rechts</p>
        <p style="font-size:0.85rem; color:#a8d3c4; margin-top:1em;">Wo Recht zu Hause ist.</p>
      </div>
      <div>
        <h4>Navigation</h4>
        <a href="/">Startpunkt</a>
        <a href="/team.html">Team</a>
        <a href="/rechtsgebiete.html">Rechtsgebiete</a>
        <a href="/notare.html">Notare</a>
        <a href="/ueber-uns.html">Über uns</a>
      </div>
      <div>
        <h4>Kontakt</h4>
        <a href="tel:+492303969600">0 23 03 / 96 96 0</a>
        <a href="mailto:mail@hbw.info">mail@hbw.info</a>
        <a href="/ueber-uns.html#standort">Massener Straße 39, 59423 Unna</a>
      </div>
    </div>
    <div class="site-footer__bottom">
      <span>&copy; <span id="year"></span> Hüser Bruckmaier Wastl</span>
      <span>
        <a href="/impressum.html" class="link-underline">Impressum</a>
        &nbsp;|&nbsp;
        <a href="/datenschutz.html" class="link-underline">Datenschutz</a>
      </span>
    </div>
  </div>
</footer>
