<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{TITLE}}</title>
<meta name="description" content="{{DESCRIPTION}}" />
<link rel="icon" type="image/svg+xml" href="/assets/icons/logo-mark.svg" />
<link rel="stylesheet" href="https://use.typekit.net/bhx6izo.css">
<link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
{{HEADER}}
<main>
{{CONTENT}}
</main>
{{FOOTER}}
<script src="/assets/main.js"></script>
</body>
</html>
